@model WebMvc.Models.BusViewModel
@{
    ViewData["Busses"] = "View Busses";
}
<h2>View Busses</h2>
<a asp-action="Index">Back to List</a>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusNumber)
        </dd>
    </dl>
</div>
